[Desktop Entry]
Icon=text-html
Name=https://magenta.tensorflow.org/datasets/maestro
Type=Link
URL[$e]=https://magenta.tensorflow.org/datasets/maestro
