[Desktop Entry]
Icon=text-html
Name=https://github.com/essandess/midi-yamaha-modus-converter
Type=Link
URL[$e]=https://github.com/essandess/midi-yamaha-modus-converter
